@import "variables";
@import "mixins";

.header {
  background-color: @header-background-colour;

  .info {
    padding-top: 1em;

    .site-name {
      position: relative;
      display: inline-block;
      .font-rem(28);
      font-weight: 600;

      a {
        color: #E60000;
        text-decoration: none;
      }
    }

    .book-now {
      position: relative;
      color: @blue-colour;
      display: inline-block;
      .font-rem(20);

      a {
        color: @blue-colour;
        text-decoration: none;
      }
    }

    .logo {
      position: relative;
      display: inline-block;
      img {
        width: 50px;
        height: auto;
      }
    }

    .social-media{
      position: relative;
      .font-rem(30);
      display: inline-block;

      .twitter {
        position: absolute;

        color: #00acee;
        a:visited& {
          color: #00acee;
        }
        .font-rem(30);
        .fa {
          margin-right: 5px;
        }
      }
      .facebook {
        position: relative;
        color: #3a5a98;
        a:visited& {
          color: #3a5a98;
        }
        .fa {
          margin-right: 5px;
        }
      }

    }
  }

  .nav {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;

    .mobile-menu {
      width: 100%;
      font-family: @base-font;
      color: white;
      background-color: @blue-colour;
      position: relative;
      padding-bottom: 0;
      margin-bottom: 0;

      div {
        float: left;
        .font-rem(16);
        padding: 0.25em 0.5em;
      }

      @media @tablet {
        display: none;
      }
    }

    .main-menu {
      padding-top: 0;
      margin-top: 0;
      padding-left: 0;
      display: none;
    }
    .mobile-show-menu {
      display: block;
    }

    ul {
      width: 100%;
      color: white;
      background-color: #9191B5;
      list-style: none;
      .font-rem(16);

      li {
        border-bottom: 1px solid;
        a {
          display: block;
          color: white;
          text-decoration: none;
          padding: 0.5em 0.5em
        }
      }

      ul {
        background-color: #BFBFD4;
        list-style: none;
        //display: none;
      }
    }

    .active-menu,
    .active-submenu {
      background-color: @blue-colour;
    }

    @media @tablet {
      .main-menu {
        display: inline-block;
      }

      ul {
        margin-bottom: 0;
        padding: 0;
        position: relative;
        display: inline-block;

        li {
          float: left;
          border-left: 1px solid;
          border-bottom: none;
          //        position: relative;
          a {
            padding: 0.5em 0.5em;
          }
        }


        ul {
          visibility: hidden;
          display: block;
          width: 150px;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 100%;
          left: 0;
          li {
            float: none;
          }
        }


        li:hover {
          background-color: @blue-colour;
          position: relative;
          > ul {
            visibility: visible;
          }

        }
      }



    }


  }
}