@import "variables";
@import "mixins";

.header {
  background-color: @header-background-colour;

  .info {
    padding-top: 1em;

    .site-name {
      position: relative;
      display: inline-block;
      .font-rem(28);
      font-weight: 600;

      a {
        color: #E60000;
        text-decoration: none;
      }
    }

    .book-now {
      position: relative;
      color: @blue-colour;
      display: inline-block;
      .font-rem(20);

      a {
        color: @blue-colour;
        text-decoration: none;
      }
    }

    .logo {
      position: relative;
      display: inline-block;
      img {
        width: 50px;
        height: auto;
      }
    }

    .social-media{
      position: relative;
      .font-rem(30);
      display: inline-block;

      .twitter {
        position: absolute;

        color: #00acee;
        a:visited& {
          color: #00acee;
        }
        .font-rem(30);
        .fa {
          margin-right: 5px;
        }
      }
      .facebook {
        position: relative;
        color: #3a5a98;
        a:visited& {
          color: #3a5a98;
        }
        .fa {
          margin-right: 5px;
        }
      }

    }
  }

  .nav {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    ul {
      width: 100%;
      margin-bottom: 0;
      color: white;
      background-color: #9191B5;
      padding: 0;
      list-style: none;
      position: relative;
      display: inline-block;
      .font-rem(16);

      li {
        float: left;
        border-left: 1px solid;
//        position: relative;
        a {
          display: block;
          color: white;
          padding: 0.5em 0.5em;
          text-decoration: none;
        }
      }


      ul {
        width: 150px;
        background-color: #BFBFD4;
        margin: 0;
        padding: 0;
        list-style: none;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        li {
          float: none;
        }
      }


      li:hover {
        background-color: @blue-colour;
        position: relative;
        > ul {
          visibility: visible;
        }

      }
    }

    .active-menu,
    .active-submenu {
      background-color: @blue-colour;
    }

  }
}