.prices-table {

  width: auto;

  tr:nth-of-type(odd) {
    background: #eee;
  }
  th {
    background: #000080;
    color: white;
    font-weight: bold;
  }
  td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }

  .trial-flights-prices& {

    @media
    only screen and (max-width: 440px) {

      /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr {
        display: block;
      }

      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr { border: 1px solid #ccc; }

      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
      }

      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }



      /*
      Label the data
      */
        td:nth-of-type(1):before { content: "Experiance Type"; }
        td:nth-of-type(2):before { content: "Price for 30 min"; }
        td:nth-of-type(3):before { content: "Price for 1 hour"; }

    }
  }

  .training-hourly-rates& {

    @media
    only screen and (max-width: 465px) {

      display: block;

      /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr {
        display: block;
      }

      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr { border: 1px solid #ccc; }

      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 63%;
      }

      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }

      /*
      Label the data
      */
        td:nth-of-type(1):before { content: ""; }
        td:nth-of-type(2):before { content: "Cessna 152 - Standard"; }
        td:nth-of-type(3):before { content: "Cessna 152 - Discounted"; }
        td:nth-of-type(4):before { content: "PA28 Archer - Standard"; }
        td:nth-of-type(5):before { content: "PA28 Archer - Discounted"; }

    }
  }

  .training-discounts& {

    @media
    only screen and (max-width: 365px) {
       display: block;
       /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr {
        display: block;
      }
       /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr { border: 1px solid #ccc; }
      td {
         /* Behave  like a "row" */
         border: none;
         border-bottom: 1px solid #eee;
         position: relative;
         padding-left: 63%;
       }
      td:before {
        /* Now like a table header */
         position: absolute;
         /* Top/left values mimic padding */
         top: 6px;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
      }

        /*
        Label the data
        */
      td:nth-of-type(1):before { content: ""; }
      td:nth-of-type(2):before { content: "Cessna 152"; }
      td:nth-of-type(3):before { content: "PA28-181 Archer"; }
      td:nth-of-type(4):before { content: "PA28 Arrow"; }

    }
  }

  .hire-rates& {

    @media
    only screen and (max-width: 370px) {
      display: block;
      /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr {
        display: block;
      }
      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr { border: 1px solid #ccc; }
      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 63%;
      }
      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }

      /*
      Label the data
      */
      td:nth-of-type(1):before { content: "Discount %"; }
      td:nth-of-type(2):before { content: "Block of Hours"; }
      td:nth-of-type(3):before { content: "Cessna 152"; }
      td:nth-of-type(4):before { content: "PA28 Archer"; }

    }
  }
}