.prices-table {
  width: auto;
}
.prices-table tr:nth-of-type(odd) {
  background: #eee;
}
.prices-table th {
  background: #000080;
  color: white;
  font-weight: bold;
}
.prices-table td,
.prices-table th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
@media only screen and (max-width: 440px) {
  .trial-flights-prices.prices-table {
    /* Force table to not be like tables anymore */
  
    /* Hide table headers (but not display: none;, for accessibility) */
  
    /*
        Label the data
        */
  
  }
  .trial-flights-prices.prices-table table,
  .trial-flights-prices.prices-table thead,
  .trial-flights-prices.prices-table tbody,
  .trial-flights-prices.prices-table th,
  .trial-flights-prices.prices-table td,
  .trial-flights-prices.prices-table tr {
    display: block;
  }
  .trial-flights-prices.prices-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .trial-flights-prices.prices-table tr {
    border: 1px solid #ccc;
  }
  .trial-flights-prices.prices-table td {
    /* Behave  like a "row" */
  
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  .trial-flights-prices.prices-table td:before {
    /* Now like a table header */
  
    position: absolute;
    /* Top/left values mimic padding */
  
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .trial-flights-prices.prices-table td:nth-of-type(1):before {
    content: "Experiance Type";
  }
  .trial-flights-prices.prices-table td:nth-of-type(2):before {
    content: "Price for 30 min";
  }
  .trial-flights-prices.prices-table td:nth-of-type(3):before {
    content: "Price for 1 hour";
  }
}
@media only screen and (max-width: 465px) {
  .training-hourly-rates.prices-table {
    display: block;
    /* Force table to not be like tables anymore */
  
    /* Hide table headers (but not display: none;, for accessibility) */
  
    /*
        Label the data
        */
  
  }
  .training-hourly-rates.prices-table table,
  .training-hourly-rates.prices-table thead,
  .training-hourly-rates.prices-table tbody,
  .training-hourly-rates.prices-table th,
  .training-hourly-rates.prices-table td,
  .training-hourly-rates.prices-table tr {
    display: block;
  }
  .training-hourly-rates.prices-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .training-hourly-rates.prices-table tr {
    border: 1px solid #ccc;
  }
  .training-hourly-rates.prices-table td {
    /* Behave  like a "row" */
  
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 63%;
  }
  .training-hourly-rates.prices-table td:before {
    /* Now like a table header */
  
    position: absolute;
    /* Top/left values mimic padding */
  
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .training-hourly-rates.prices-table td:nth-of-type(1):before {
    content: "";
  }
  .training-hourly-rates.prices-table td:nth-of-type(2):before {
    content: "Cessna 152 - Standard";
  }
  .training-hourly-rates.prices-table td:nth-of-type(3):before {
    content: "Cessna 152 - Discounted";
  }
  .training-hourly-rates.prices-table td:nth-of-type(4):before {
    content: "PA28 Archer - Standard";
  }
  .training-hourly-rates.prices-table td:nth-of-type(5):before {
    content: "PA28 Archer - Discounted";
  }
}
@media only screen and (max-width: 365px) {
  .training-discounts.prices-table {
    display: block;
    /* Force table to not be like tables anymore */
  
    /* Hide table headers (but not display: none;, for accessibility) */
  
    /*
          Label the data
          */
  
  }
  .training-discounts.prices-table table,
  .training-discounts.prices-table thead,
  .training-discounts.prices-table tbody,
  .training-discounts.prices-table th,
  .training-discounts.prices-table td,
  .training-discounts.prices-table tr {
    display: block;
  }
  .training-discounts.prices-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .training-discounts.prices-table tr {
    border: 1px solid #ccc;
  }
  .training-discounts.prices-table td {
    /* Behave  like a "row" */
  
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 63%;
  }
  .training-discounts.prices-table td:before {
    /* Now like a table header */
  
    position: absolute;
    /* Top/left values mimic padding */
  
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .training-discounts.prices-table td:nth-of-type(1):before {
    content: "";
  }
  .training-discounts.prices-table td:nth-of-type(2):before {
    content: "Cessna 152";
  }
  .training-discounts.prices-table td:nth-of-type(3):before {
    content: "PA28-181 Archer";
  }
  .training-discounts.prices-table td:nth-of-type(4):before {
    content: "PA28 Arrow";
  }
}
@media only screen and (max-width: 370px) {
  .hire-rates.prices-table {
    display: block;
    /* Force table to not be like tables anymore */
  
    /* Hide table headers (but not display: none;, for accessibility) */
  
    /*
        Label the data
        */
  
  }
  .hire-rates.prices-table table,
  .hire-rates.prices-table thead,
  .hire-rates.prices-table tbody,
  .hire-rates.prices-table th,
  .hire-rates.prices-table td,
  .hire-rates.prices-table tr {
    display: block;
  }
  .hire-rates.prices-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .hire-rates.prices-table tr {
    border: 1px solid #ccc;
  }
  .hire-rates.prices-table td {
    /* Behave  like a "row" */
  
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 63%;
  }
  .hire-rates.prices-table td:before {
    /* Now like a table header */
  
    position: absolute;
    /* Top/left values mimic padding */
  
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .hire-rates.prices-table td:nth-of-type(1):before {
    content: "Discount %";
  }
  .hire-rates.prices-table td:nth-of-type(2):before {
    content: "Block of Hours";
  }
  .hire-rates.prices-table td:nth-of-type(3):before {
    content: "Cessna 152";
  }
  .hire-rates.prices-table td:nth-of-type(4):before {
    content: "PA28 Archer";
  }
}
