<div class="header">
    <div class="info">
        <div class="site-name">
            <a href="{{ site.url }}">{{ site.title }}</a>
        </div>
        <div class="book-now">
            Book a flying lesson now: <a href="01737 822959">01737 822959</a>
        </div>
        <div class="logo">
            <img src="{{ site.url }}/images/logo.png" alt="Redhill Aviation Logo"/>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/pages/Redhill-Aviation-Flying-Training/187356691282218" class="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
            <a href="http://twitter.com/RedhillAviation" class="twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>
        </div>
    </div>
    <div class="navigation-wrapper">
        <div class="top-navigation">
            <div role="navigation" id="site-nav" class="nav">
                <button class="mobile-menu" id="mobile-menu"><div class=""><i class="fa fa-reorder"></i></div><div>Menu</div></button>
                <ul class="main-menu" id="main-menu">
                    {% for link in site.links %}
                    <li><a href="{{ link.url }}"
                        {% if link.external %}target="_blank"{% endif %}
                        {% if page.navigation-title == link.title %}class="active-menu"{% endif %}

                        >{{ link.title }}</a>
                        {% if link.sublinks.size > 0 %}
                            <ul {% if page.navigation-title == link.title %}class="submenu-active-menu"{% else %}class="submenu-hidden-menu"{% endif %}>
                                {% for sublink in link.sublinks %}
                                <li>
                                    <a href="{{ sublink.url }}"
                                            {% if page.sub-navigation-title == sublink.title %}class="active-submenu"{% endif %}
                                            >{{ sublink.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- /.top-navigation -->
    </div>
    <!-- /.navigation-wrapper -->
</div>